{% extends "ap2.j2" %}

{% block summary %}
<p>Dit applicatieprofiel laat toe om cultuur- & jeugdinfrastructuur te beschrijven en kan gebruikt worden om infrastructuurgegevens uit te wisselen.</p>
<p>Als centrale klasse is er de Infrastructuur die aan de hand van sub/superrelaties in een hiërarchie kunnen weergegeven worden. Deze Infrastructuur kan zich verder specialiseren in zaken als een Gebouw, Binnen- of Buienruimte.</p>
<p> Aan deze Infrastructuur kan een Activiteit of Ding gekoppeld zijn. </p>

<p>Ook worden zaken zoals Eigenaarschap, Beheer, Gebruik en Reservatie beschreven. </p>

<p> Er wordt o.a. ook beschreven wat de Toegankelijkheid is, wat de Bereikbaarheid is, etc. </p>

<p>Het applicatieprofiel herbruikt termen en de manier waarop ze worden toegepast uit het 
applicatieprofiel <a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-organisatie-basis.html">OSLO-Organisatie</a>, 
<a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-cultureel-erfgoed-object.html">OSLO-CultureelErfgoed:Object</a>, 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-persoon-basis.html">OSLO-Persoon</a>, 
<a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/vocabularium-en-applicatieprofiel-oslo-consent.html">OSLO-Consent</a>, 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-besluit-subsidies.html">OSLO-Subsidie</a> en 
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-feitelijke-verenigingen.html">OSLO-FeitelijkeVereniging</a>,
<a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/applicatieprofiel-doelgericht-digitaal-transformeren.html">OSLO-Doelgericht Digitaal Transformeren</a>,
<a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-dienst-transactiemodel.html">OSLO-Dienst</a>,
<a href="https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/applicatieprofiel-observaties-en-metingen.html">OSLO-Observaties en Metingen</a>,
<a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-gebouwenregister.html">OSLO-Gebouw</a> en
<a href="https://data.vlaanderen.be/standaarden/erkende-standaard/applicatieprofiel-perceel.html">OSLO-Perceel</a>.
</p>

<p>Een meer formele beschrijving van de termen is te vinden in het vocabularium OSLO-Cultuur&Jeugdinfrastructuur.</p>
{% endblock %}

{% block status %}
{% endblock %}
